{% extends 'layout.html' %}

{% block title %}Add Recipe{% endblock %}

{% block content %}

    <h2>Add new recipe here! </h2>

    
    <form METHOD="POST" action="{{url_for('parse_new_recipe')}}" >
        
        <label>
            recipe name:
            <input type="text" name="recipe_name" required>
        </label>
        <button type='button' onclick="create_new_ingredient_row()">add ingredient</button>

        <div id="create-recipe-form-content">
            <fieldset id="ingr-field" name="test-id" style="display:flex; justify-content: space-between;">
                <label>
                    Ingredient Name:
                    <input type="text" class="ingr-text-input" name="0:name" required/>
                </label>

                <label>
                    type:
                    <select class='ingr-type-input' name="0:type">
                        {%for t in types%}
                        <option value={{t[1]}}>{{t[0]}}</option>
                        {% endfor %}
                    </select>
                </label>


                <label>
                    Unit:
                    <input type="text" style="width:50px" class="ingr-unit-input" name="0:unit"/>
                </label>
                <label>
                    Quantity for 2:
                    <input type="number" style="width:50px" class="ingr-2ppl-input" min="0" step="0.25" name="0:2ppl" required/>
                </label>
                <label>
                    Quantity for 4:
                    <input type="number" style="width:50px" class="ingr-4ppl-input" min="0" step="0.25" name="0:4ppl" required/>
                </label>

                <label class="space-filler"> </label>

            </field-set>
        </div>


        <input type="submit" value="create new recipe"/>
    </form>

{% endblock %}