<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Recipe Printer</title>
  </head>
  <body>
    <div id="header">
      <ul>
        <li><a href="{{ url_for('home') }}">home</a></li>
        <li><a href="{{ url_for('about') }}">about</a></li>
      </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      &copy; Copyright 2024 by <a href="https://www.github.com/erinep"> Erinep</a>
    </div>
  </body>
</html>