{% extends 'layout.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<h2>About Erin's Recipe List Generator</h2>
<div style="width: 800px; ">
    <p>This app will generate a  grocery list for you. </p>
    <p>
        To use it go to the <strong>select recipes</strong> page and select which recipes you would like. 
        Your grocery list will be shown on the <strong>see ingredients</strong> page.
    </p>
    <p>See source code/documentation on <a href="https://github.com/erinep/Grocery-List-Generator">Github</a>.</p>
</div>

<ul>
    <li><a href="/test">test</a></li>
    <li><a href="/api/get-recipes">get-recipes</a></li>
</ul>

{% endblock %}