{% extends 'layout.html' %}

{% block title %}Recipes{% endblock %}

{% block content %}
<h2>Select recipes: </h2>
<form action="{{ url_for('set_session_recipes')  }}" method="post">
    <div>
        <label>
            Number of People:
            <input type="number" name="qty" value="2" min="2" max="4" step="2" value="4">
        </label>
    </div>

    <fieldset>
        <legend>Recipes</legend>
        {% for recipe in recipes %}
            <label style="display: block">
                <input type="checkbox" id="{{recipe}}" name="{{recipe}}">
                {{recipe}}
            </label>
        {% endfor %}
    </fieldset>


    <input type="submit" value="update ingredients"/>
</form>
{% endblock %}